*{
    margin:0;
   font-family:Arial;
  
  
   
   
}
#box-1{
    max-width:100%;
    height:297vh;
    background:#393f6b;
    position:relative;
    

}
#box-1 #box-2{
    width:90%;
    height:90%;
    border:2px solid white;
    background:#393f6b;
    position:absolute;
    top:5%;
    left:5%;
}
#box-1 #box-2 #content-box{
    width:80%;
    height:80%;
    background:#f5f5f5;
    position:absolute;
    top:10%;
    left:10%;
    border:5px ridge rgb(136, 132, 132);
}
#content-box{
    text-align:center;

}
#content-box h2{
    font-size:60px;
    font-weight:400;
    line-height:100px;
    margin:250px 0 500px 0;

}
#content-box p{
    font-size:25px;
}

.description{
    max-width:100%;
    text-align:justify;
    margin:10px 150px 60px 150px;
    font-size:18px;
}
.title{
    text-align:center;
    margin:25px 0 25px 0;
}
.title h2{
    color:#006fc0;
    margin-bottom:25px;
}
.intro input{
    border:0;
    outline:0;
    border-bottom:1px solid black;
    background:transparent;
    background-color:#f1f3ff;
    font-size:16px;  
}
.intro input:focus{
    background:transparent;
}
.list{
    padding-left:20px;
}
.list ol{
    padding-left:52px;
}
.list li{
    padding-left:30px;
}
.list p{
    padding-left:30px;
}

.initial input{
    border:0;
    outline:0;
    width:40px;
    background-color:#f1f3ff;
    font-size:14px;  
}
.initial input:focus{
    background:transparent;
}
.highlight{
    font-size:20px;
}
.sub-list {
    padding-left:65px;
}
.sub-list li{
    padding-left:15px;
}

 .check-box{
     position:relative;
     width:25px;
     height:25px;
     margin-right:15px;
 }
 
.approve-heading{
   padding-right:140px;
    float:right; 
    padding-right:210px;  
}


.right input{
    width:225px;
    height:30px;
    border:0;
    border-bottom:2px solid black;
    background:#f1f3ff;
    font-size:17px;
    outline:0;
}
.right input:focus{
    background:transparent;
}
.left input{
    width:225px;
    height:30px;
    border:0;
    border-bottom:2px solid black;
    background:#f1f3ff;
    font-size:17px;
    outline:0;
}
.left input:focus{
    background:transparent;
}
.right{
    float:right;
  padding-right:60px;
    margin-top:-202px;
}
.left{
    margin-left:120px;
}

.form h2{
    text-align:center;
    color:#006fc0;
}
.form p{
    text-align:center;
}
 .contract-form, .fee-schedule,.authorization{
   border:1px solid black;
    margin:0 150px 0 150px;
    border-top:0;
}
.contract-form ul li{
    list-style:none;
    margin-left:-40px;
    border-top:1px solid black;
}
.contract-form ul li input[type="text"]{
    width:20%;
    border:0;
    outline:0;
    background-color:#f1f3ff;
    font-size:17px;  

}
.contract-form ul li input[type="text"]:focus{
    background:transparent;
}
.contract-form ul li input[type="radio"]{
    width:25px;
    height:20px;
    cursor:pointer;
}
.heading{
    color:white;
    background:rgb(32,55,100);  
}
.heading p{
    text-align:left;
}
.text{
    padding-left:200px;
}
.level{
    display:flex;
    flex-direction:row;
}
.membership{
    float:left;
    background:#fff2cc;
    width:64%;
    margin:0;
    
    border-left:1px solid black;
    
}
.commission{
   float:right;
    background:#ddebf7;
    width:35.7%;
    padding-top:8px;
}
.membership p{
    text-align:left;
    margin:27px 0 0 2px;
}
.membership ul {
    list-style:none;
    margin:0 0 0 -36px;
    line-height:30px;
    
}

.paid {
   line-height:30px;
   margin-right: 40px;
}
.paid ul, .paid li{
    list-style: none;
    width: 100%;
    padding:0;
    text-align:right;
}
.paid li .label{
    font-weight:bold;
    padding-right:30px;
   
}
.authorization ul li{
    list-style:none;
      text-align:center;
     line-height:15px;

}
.representative {
    float:left;
    border:1px solid black;
    border-top:0;
    width:50%;
}
.member{
    float:right;
   border:1px solid black;
   border-top:0;
   width:49%;
   border-left:0;
}
.authorization ul{
    margin:0;
}

.authorization ul li input{
    width: 350px;
    height:25px;
    border:0;
    outline:0;
    background-color:#f1f3ff;
    font-size:17px; 
    border-bottom:1px solid black;
}
.authorization ul li input:focus{
    background:transparent;
}
canvas{
    cursor:crosshair;
    border-bottom:2px solid black;
    background:#f1f3ff;
   
}
@media only screen and (max-width:1000px){
    #box-1{
        width:100%;
        height:100vh;
        margin-right:10px;
    }
   #box-2 {
    margin-left:-2px;
    }
    #content-box{
        margin-left:-5px;
    }
    #content-box h2{
        font-size:20px;
        line-height:35px;
        margin:60px 0 120px 0;
    }
    #content-box p{
        font-size:8px;   
    }

    .description{
       max-width:100%;
       font-size:8px;
       margin:0 12px 0 12px;  
    }
    .intro input{
        width:45px;
        height:10px;
        font-size:9px;
    }
    .title, .title h2{
        margin-bottom:10px;
    }
    .list{
        padding-left:8px;
    }
    .list ol{
        padding-left:18px;
    }
    .list li{
        padding-left:10px;
    }
    .list p{
        padding-left:10px;
    }
    .initial input{
        width:25px;
        height:10px;
        font-size:9px;
    }
    .highlight{
        font-size:8.5px;
    }
    .sub-list {
        padding-left:30px;
    }
    .sub-list li{
        padding-left:3px;
    }
    .check-box{
        width:13px;
        height:13px;
    }
    .approve-heading{
        font-size:8px;
       padding-right:40px;
     
    }
    .left{
        width:100%;
        margin: -5px 0 0 -2px;
    }
    .right{
        padding:110px 0 0 30px;
    }
    .left input, .right input{
        width:100px;
        height:20px;
    }
  
    .form{
        font-size:8px;
        padding-top:10px;
    }
    .contract-form, .fee-schedule, .authorization{
        width:98%;
       margin-left:1px;
    }
    .contract-form ul li input[type="text"]{
        width:30px;
        height:15px;
        font-size:8px;
    }   
    .contract-form ul li input[type="radio"]{
        width:25px;
        height:10px;
    }
    .heading p{
        font-size:7px;
    }
    .text{
        padding-left:5px;
        font-size:6px;
    }
    .membership{
        margin-left:-1px;
        width:55%;
        
    }
    .membership p{
        margin:30px 0 0 2px;
        font-size:8px;
    }
    .membership ul{
            line-height:20px;
            font-size:8px;
            
    }
    .commission{
        width:44.56%;
        padding-top:10px;
    }
    .paid{
        margin-right:3px;
    }
    .paid ul, .paid li{
        line-height:20px;
        font-size:8px;    
    }
    .paid li .label{
      padding-right:0; 
      margin-left:-4px;
    }
    .authorization{
        font-size:6px;
        
    }
    .authorization canvas{
        width:65px;
    }
    .authorization ul li input{
        width:65px;
        height:15px;
    }
    .representative{
        margin-left:-1px;
      
   
    }
  .member{
      margin-bottom:-100px;
      
}
canvas{
    width:85px;
}
    button {
        width:20px;
        font-size:6px;
        padding-left:1px;
    }
   
}